In [1]:
import pandas as pd

In [3]:
df =pd.read_excel("Book1.xlsx")

In [4]:
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,MA Agarwal,2018-2022,21,36,0,1488,243,41.33,2782,53.48,4,6,1,189,28
1,R Ashwin,2011-2022,86,123,14,2931,124,26.88,5364,54.64,5,12,6,339,16
2,JJ Bumrah,2018-2022,30,46,17,212,34*,7.31,455,46.59,0,0,15,24,6
3,SS Iyer,2021-2022,5,9,0,422,105,46.88,615,68.61,1,3,0,52,9
4,RA Jadeja,2012-2022,60,89,20,2523,175*,36.56,4240,59.50,3,17,5,253,55
5,V Kohli,2011-2022,102,173,10,8074,254*,49.53,14499,55.68,27,28,14,910,24
6,Kuldeep Yadav,2017-2021,7,8,0,54,26,6.75,185,29.18,0,0,3,6,0
7,Mohammed Shami,2013-2022,60,84,25,685,56*,11.61,928,73.81,0,2,18,76,22
8,Mohammed Siraj,2020-2022,13,19,8,66,16*,6,118,55.93,0,0,4,7,2
9,S Nadeem,2019-2021,2,3,1,1,1*,0.5,30,3.33,0,0,2,0,0
10,T Natarajan,2021-2021,1,1,1,1,1*,-,9,11.11,0,0,0,0,0
11,RR Pant,2018-2022,31,53,4,2123,159*,43.32,2922,72.65,5,10,2,232,48
12,AR Patel,2021-2022,6,10,2,197,52,24.62,378,52.11,0,1,1,18,8
13,CA Pujara,2010-2022,96,164,9,6792,206*,43.81,15383,44.15,18,33,11,816,15
14,AM Rahane,2013-2022,82,140,12,4931,188,38.52,9972,49.44,12,25,10,560,34
15,KL Rahul,2014-2022,43,74,2,2547,199,35.37,4833,52.70,7,13,7,310,17
16,WP Saha,2010-2021,40,56,10,1353,117,29.41,2973,45.50,3,6,6,129,14
17,NA Saini,2021-2021,2,3,1,8,5,4,27,29.62,0,0,0,1,0
18,I Sharma,2007-2021,105,142,47,785,57,8.26,2568,30.56,0,1,34,88,1
19,RG Sharma,2013-2022,45,77,9,3137,212,46.13,5625,55.76,8,14,4,335,64
20,PP Shaw,2018-2020,5,9,1,339,134,42.37,394,86.04,1,2,1,48,2
21,Shubman Gill,2020-2022,11,21,2,579,91,30.47,1010,57.32,0,4,2,75,8
22,SN Thakur,2018-2022,8,14,1,254,67,19.53,367,69.20,0,3,2,32,9
23,GH Vihari,2018-2022,16,28,3,839,111,33.56,1988,42.20,1,5,1,107,2
24,Washington Sundar,2021-2021,4,6,2,265,96*,66.25,502,52.78,0,3,2,31,5
25,J Yadav,2016-2022,6,9,1,248,104,31,575,43.13,1,1,0,30,1
26,UT Yadav,2011-2022,52,61,26,408,31,11.65,822,49.63,0,0,7,37,20

In [6]:
df.describe()

,Mat,Inns,NO,Runs,BF,SR,100,50,0,4s,6s
count,27.000000,27.000000,27.000000,27.000000,27.000000,27.000000,27.000000,27.000000,27.000000,27.000000,27.000000
mean,34.777778,54.000000,8.444444,1528.222222,2946.814815,49.801852,3.555556,7.000000,5.851852,174.259259,15.185185
std,34.303323,53.597503,10.895777,2105.720804,4176.202407,18.061987,6.375031,9.248701,7.486931,241.943190,17.464331
min,1.000000,1.000000,0.000000,1.000000,9.000000,3.330000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6.000000,9.000000,1.000000,230.000000,386.000000,43.640000,0.000000,0.500000,1.000000,27.000000,2.000000
50%,21.000000,36.000000,3.000000,579.000000,928.000000,52.700000,1.000000,3.000000,3.000000,75.000000,9.000000
75%,56.000000,80.500000,11.000000,2323.000000,3606.500000,56.625000,4.500000,11.000000,7.000000,242.500000,21.000000
max,105.000000,173.000000,47.000000,8074.000000,15383.000000,86.040000,27.000000,33.000000,34.000000,910.000000,64.000000